{% macro googleColors4(l1,l2,l3,l4) %}
    <span class="text-primary">{{ l1 }}</span>&#8203;&#8203;
    <span class="text-danger">{{ l2 }}</span>&#8203;
    <span class="text-warning">{{ l3 }}</span>&#8203;
    <span class="text-success">{{ l4 }}</span>
{% endmacro %}

{% macro googleColors5(l1,l2,l3,l4,l5) %}
    <span class="text-primary">{{ l1 }}</span>&#8203;&#8203;
    <span class="text-danger">{{ l2 }}</span>&#8203;
    <span class="text-warning">{{ l3 }}</span>&#8203;
    <span class="text-success">{{ l4 }}</span>&#8203;
    <span class="text-primary">{{ l5 }}</span>
{% endmacro %}
